.group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 10px;
  width: 300px;
  font-family: sans-serif;
}
.input {
  width: 300px;
  height: 25px;
  padding: 10px;
  margin-bottom: 13px;
  border: 0.5px solid grey;
  border-radius: 4px;
}

input {
  float: left;
  border: none;
  width: 90px;
  border-right: 0.5px solid grey;
  color: gray;
  margin-right: -28px;
  margin-top: -3px;
  height: 30px;
  background-color: none;
}
input:focus {
  outline: none;
}

select {
  border: none;
  float: right;
  color: grey;
  font-size: 13px;
  background: none;
  margin-right: -8px;
  margin-top: 2px;
}
select:focus {
  outline: none;
}

option {
  text-align: right;
}
.Result1 {
  margin-top: 27px;
  color: grey;
  font-size: 13px;
  text-align: center;
}
.Result2 {
  margin-top: -5px;
  color: black;
  font-size: 25px;
  text-align: center;
}
